h1 {
  text-align: center;
  text-decoration: underline;
}

h4 {
  margin-left: 5px;
}

p {
  margin-left: 5px; 
}

.complete {
  color: #119E02;
}

.in_prog {
  color: #E64100;
}

.planned {
  color: #0058FA;
}

.dep {
  color: #F70303;
}

.list_el {
  margin-top: 0px;
  padding-bottom: 0px;
}

.title {
  background-color: #CCCCCC;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.info {
  background-color: #E3E3E3;
  text-align: left;
  margin-top: 0px;
  padding-top: 0px;
}
